/* Atributos de body*/
body {
  background-color: #FBF8D0;
  padding: 20px 8%;
  font-family: sans-serif;
  font-size: 30px;
}

/*Atributos de p*/
p {
  margin-bottom: 0.2em;
}

.flexcolumn {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

#presentacion {
  font-family: cursive;
  font-size: 0.8em;
  line-height: 1.2em;
}